.zookeeper-form{
  display: flex;
}

.zookeeper-input{
  margin-right: 10px;
}


.img {
  width: auto;
  max-height: 500px;
 

}


  .carousel {
    
    width: 500px;
    height: 500px;
    margin: auto;
  }








