/* .light {
    background-color: lightskyblue;
} */

.zoo-page-div {
    position: relative;
}

/* .dark {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    /* content: ''; */
    /* position: absolute;
    top: 200;
    left: 0;
    width: 90vh;
    height: 90vh;
    background: rgba(0,0,0,0.7);

} */ 

.centre-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zoo-buttons-and-animals-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;

}

.show-info {
    padding: 20px;
    width: 80%;
    text-align: center;
}


/* .zoo-buttons-and-animals-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
} */

.zoo-animals-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}